<div class="container">

  <!-- weatherContainer start -->
  <div class="weatherContainer">

    <!-- extracontainer start -->
    <div class="extraContainer">

      <!-- weatherBackgroud start -->
      <div class="weatherBackgroud">
        
        <!-- currentCityWeather start -->
        <div class="currentCityWeather">
          <span class="cityName">Bogota</span><br>
          <span class="iconWeather details">
            <img src="http://openweathermap.org/img/w/{{icon}}.png" alt="">
          </span>
          <span class="temperature details" style="padding-left: 0">
            {{c_temperature}}<sup>°c</sup>
          </span>
          <!-- currentCityWeather end -->
        </div> 

        <!-- weatherBackgroud end -->
      </div>

      <!-- ExtraContent -->
        <div class="extraContent">
          <div class="forecastContainer">
            <div class="forecastTitle">
              <strong>3 Days</strong> Forecast</div>
            <div class="forecast" *ngFor="let foreday of forecastInfo; index as idx">
              <span class="icon foreDetails ">
                <img src="http://openweathermap.org/img/w/{{foreday.icon}}.png" alt="">
              </span>
              <span class="day foreDetails">
                {{foreday.day}}
              </span>
              <span class="minMax mM foreDetails">
                {{foreday.min}}<sup>°c</sup>/{{foreday.max}}<sup>°c</sup>
              </span> 
            </div>
           
          <!-- forecastContainer -->
          </div>

        <!-- PlaceToVisit -->
        <div class="placeToVisit">
            <div class="title"><strong>Place to</strong> Visit</div>
              <div class="firstcity">
                <span>Paris</span>
              </div>
        </div>

        <!-- AddLocation -->
        <div class="otherLocation">
          <div class="paris">
            <div class="otherCity upperDetails">
              <span class="otherIconCity ">
                <img src="http://openweathermap.org/img/w/{{parisIcon}}.png" alt="">
              </span>
              <span><strong>{{parisTemp}}</strong><sup>°c</sup></span>
              <span>{{cityName}} </span>
            </div>
            <div class="otherCity otherDetails">
              <span>Humidity {{humidity}}%</span>
              <span>{{windSpeed}}km/h</span>
            </div>
          </div>
          <div class="addLocation">
            Add Locations
          </div>
        </div>
        
        <!-- extracontainer end -->
        </div>
          

    </div>

  <!-- weatherContainer end -->
  </div>

</div>