<div class="container">

  <!-- weatherContainer start -->
  <div class="weatherContainer">

    <!-- extracontainer start -->
    <div class="extraContainer">

      <!-- weatherBackgroud start -->
      <div class="weatherBackgroud">
        
        <!-- currentCityWeather start -->
        <div class="currentCityWeather">
          <span class="cityName">Bogota</span><br>
          <span class="iconWeather details">
            Icon
          </span>
          <span class="temperature details">
            31<sup>°c</sup>
          </span>
          <!-- currentCityWeather end -->
        </div> 

        <!-- weatherBackgroud end -->
      </div>

      <!-- ExtraContent -->
        <div class="extraContent">
          <div class="forecastContainer">
            <h2 class="forecastTitle">3 Days Forecast</h2>
            <div class="forecast">
              <span class="iconWeather foreDetails">
                Icon
              </span>
              <span class="day foreDetails">
                Friday
              </span>
              <span class="minMax foreDetails">
                20/30
              </span>
          </div>
          <div></div>
          <div></div>
        </div>

    <!-- extracontainer end -->
    </div>

  <!-- weatherContainer end -->
  </div>

</div>